.footer{
  height: 20rem;
  background-color: #5270FC;

}
.social-links{
margin-top: 6rem;
}
.subscribe{
  margin-top: 50px;
}
.input-group .btn{
  margin-left: 5px;
}
.input-group input{
  border: none;
}
form button{
  background-color: #0B06ED;
  color: #fff;
  border: none;
  
}
.quick-links  li{
  padding: 5px;
}
