.post-cont{
    overflow-y: scroll;
    max-height: 100vh;
}
.card-body{
    min-height: 13rem;
}
.normal{
    text-transform: none;
}

.width{
    width: 5rem;
    right: 3%;
    bottom: 100%;
}

/* .float-right:hover{
    border: none;
    box-shadow: inset;
} */