<div class="container post-cont my-4">
  <div class="create-post">
    <img src="assets/images/profile.svg" alt="avatar" class="rounded-circle img-fluid" width="60">
    <!-- <img src="{{user.avatar}}" alt="avatar" onerror="this.src='assets/images/profile.svg';"> -->
    <a routerLink='/add/post' class="btn btn-lg m-3" style="background-color:#3BB7E5">create post</a>
  </div>
  <br>
  <div class="post mb-5" *ngFor="let post of posts">
    <div class="card card-body">
      <!-- <img src="assets/images/logo2.jpeg" class="card-img-top card-image" alt="post image"> -->
      <div class="card-body text-center">
        <h5 class="card-header">{{post.content_name}}</h5>
        <div class="image-body " *ngIf="post.content_image">
          <img src="{{post.content_image}}" class="img-fluid" alt="">
        </div>  
        <p class="text-start">{{post.description}}</p>
      </div>
      <div class="small d-flex justify-content-around mx-5 px-5">
        <button class="d-flex me-5 btn btn-sm shadow-none">
          <p>{{post.likes}}</p>
          <i class="far fa-thumbs-up me-2"><br><span class="small">Like</span></i>
          <!-- <p class="mb-0">Like</p> -->
        </button>
        <button class="d-flex me-5 btn btn-sm shadow-none">
          <i class="far fa-comment-dots me-2"><br><span class="small">Comment</span></i>
          <!-- <p class="mb-0">Comment</p> -->
        </button>
        <button class="d-flex me-5 btn btn-sm shadow-none">
          <i class="fas fa-share me-2"><br><span class="small">Share</span></i>
          <!-- <p class="mb-0">Share</p> -->
        </button>
      </div>
    </div>
  </div>
</div>