<form action="">
    <mat-form-field [style.fontSize]="autosize" appearance="fill">
        <textarea class="btn btn-sm shadow-none normal" matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cols="10"
                  cdkAutosizeMinRows="1.5"
                  cdkAutosizeMaxRows="3" placeholder="Comment"></textarea>
                  <button class="btn btn-sm mr-5 p-1"><i class="far fa-comment-dots me-2"></i></button>
      </mat-form-field>
</form>