mat-form-field {
    display: inline-flex;
  }

mat-form-field button.btn:hover {
border: solid whitesmoke;
  }
  textarea.btn{
    border: .5px solid whitesmoke;
  }
.normal {
    text-transform: none;
}