<div class="post_details">
  <div class="card p-2" style="background-color:#D9D9D9;">
    <h5 style="margin-bottom:20px;" align="center">Application Posts</h5>
    <ul *ngFor="let post of postArr,let i = index;">
      <li *ngIf="i < 4">
        <div class="card p-4">
          <div class="row">
            <div class="col-md-11">
              <div class="row">
                <div class="col-md-9">
                  {{post.content_name}}
                </div>
                <div class="col-md-3">
                  <a routerLink="/post-details/{{post.id}}/" class="btn view-details">
                    View
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-1">
              <a (click)="deleteAdmin_post(post.id)" style="cursor: pointer;margin-left:5px;"><i
                  class="fa fa-trash text-danger mt-1 fa-2x"></i></a>
            </div>
          </div>
        </div>

      </li>
    </ul>
  </div>


</div>

<!-- <mat-grid-tile rowspan="2" colspan="2" style="background-color:white">
  <div class="user_display" >
    <ul *ngFor="let user of userslist;let i = index;"> <li style="background-color:#D9D9D9; width:20rem;
      " *ngIf="i < 4">{{ user.username }}</li>
    </ul>
    </div>

</mat-grid-tile> -->
