
<div class="container mt-4">
  <div class="row">
    <div class="col-md-4 staff-post">
      <div class="mb-4">

        <br />
        <div class="card" style="width: 100%">
          <img
            src="{{adminpostArr.content_image}}"
            class="card-img-top"
            alt="post pic"

          />
          <div class="card-body">
            <h5 class="card-title">{{ adminpostArr.content_name }}</h5>
            <p class="card-text">{{adminpostArr.description}} </p>
          </div>
          <!-- <div class="small d-flex justify-content-center mx-4">
            <a href="#!" class="d-flex align-items-center me-3">
              <i class="far fa-thumbs-up me-2"></i>
              <p class="mb-0">Like</p>
            </a>
            <a href="#" class="d-flex align-items-center me-3">
              <i class="far fa-comment-dots me-2"></i>
              <p class="mb-0">Comment</p>
            </a>
            <a href="#!" class="d-flex align-items-center me-3">
              <i class="fas fa-share me-2"></i>
              <p class="mb-0">Share</p>
            </a>
            <a href="#!" class="d-flex align-items-center me-3">
              <i class="fas fa-pen me-2"></i>
              <p class="mb-0">Edit</p>
            </a>
            <a href="#!" class="d-flex align-items-center me-3">
              <i class="far fa-trash-alt me-2"></i>
              <p class="mb-0">Delete</p>
            </a>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>


