
<div class="container">
  <app-heronavbar></app-heronavbar>
  <div class="row mt-5">
    <div class="col-md-3"></div>
    <div class="col-md-6"><div class="card" style="width: 100%">
      <img
        src="{{adminpostArr.content_image}}"
        class="card-img-top"
        alt="post pic"

      />
      <div class="card-body">
        <h5 class="card-title">{{ adminpostArr.content_name }}</h5>
        <p class="card-text">{{adminpostArr.description}} </p>
      </div>

    </div></div>
    <div class="col-md-3"></div>

  </div>
</div>


