<!-- Navbar -->
<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid mx-4">
    <!-- Navbar brand -->
    <a class="navbar-brand" [routerLink]="['/homepage']">
      <img src="assets/images/logo.png" height="40" alt="" loading="lazy" />
    </a>

    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/homepage']">Home</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#"></a>
        </li>
      </ul>
      <!-- Left links -->

      <ul class="navbar-nav mb-2 mb-lg-0">
        <!-- Navbar dropdown -->
        <li class="nav-item">
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/register']">Sign Up</a>
        </li>
      </ul>

    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->

<div class="container mt-4 pt-4">
  <div class="row card-border">
    <div class="col-md-7 bulb"></div>
    <div class="col-md-5 pt-5 mt">
      <div class="card">
        <h4 class="card-header py-3 text-center">Login</h4>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-5">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" formControlName="username" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['username'].errors }" />
            <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
              <div class="text-center" *ngIf="f['username'].errors['required']">Username is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" formControlName="password" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
            <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
              <div class="text-center" *ngIf="f['password'].errors['required']">Password is required</div>
            </div>
          </div>
          <div class="form-group text-center pt-4">
            <button [disabled]="loading" class="btn btn-primary">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Login
            </button>
          </div>
          <p class="mt-5">Don't have an account:&nbsp; <a [routerLink]="['/register']"
              class="text-info text-decoration-none">Register</a></p>
        </form>
      </div>
    </div>
  </div>
</div>
