.navbar-dark .nav-item .nav-link {
    color: #ffffff;

}
  
.navbar-dark .nav-item .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
    border-radius: 0.25rem;
    color: #fff;
}
  
.fa-li {
    position: relative;
    left: 0;
}
.bulb{
    background-image: url("src/assets/images/logo2.jpeg");
    background-size: contain;
    height: 90vh;
    background-repeat: no-repeat;
    background-position: center left bottom;
}
.card-border{
    box-sizing: border-box;
    border: .3rem #f3f5f6aa solid;
    box-shadow: 0.2rem;
    padding: 2rem;
    margin: 1rem;
}
.card-border .mt{
    margin-top: 1.2rem;
}
@media (max-width: 767px) {
    .bulb{
        visibility: hidden;
        height: auto;
    }

}
@media (min-width: 768px) and (max-width: 991px) {
    .bulb{
        background-size: 85%;
        height: 90vh;
        background-repeat: no-repeat;
    }
    .card-border{
        box-sizing: border-box;
        border: .3rem #f3f5f6aa solid;
        box-shadow: 0.2rem;
        padding: 2rem;
        margin: 1rem;
    }
    .card-border .mt{
        margin-top: none;
        
    }
}